<link rel="stylesheet" href="/css/kolab/kolab.css">

<div id="fondo"></div>

<form action="/Kolab/lista/{{user.idUsuarios}}" method="get"></form>
<div id="contenedor">
    <div id="tarjeta1">

        {{#each kolab}}
        <div id="Proyecto">
            <label>{{NombreKolab}}</label>
        </div>

        <div id="Descripcion">
            <label>Descripción:</label>
            <p>{{Descripcion}}</p>
        </div>

        <div id="Mision">
            <label>Misión:</label>
            <p>{{Mision}}</p>
        </div>

        <div id="Vision">
            <label>Visión:</label>
            <p>{{Vision}}</p>
        </div>
        {{/each}}

        <div id="Objetivo">
            <label>Objetivos:</label>
        </div>

        <div id="objetivos">
            {{#each detalle}}
            <ul>
                <li>{{objetivos}}</li>
            </ul>
            {{/each}}
        </div>
    </div>

    {{#each kolab}}
    <div id="BotonEditar">
        <a href="/Kolab/editar/{{idKolab}}"><button>Editar</button></a>
    </div>

    <div id="BotonAgregar">
        <a href="/proyecto/agregar/{{idKolab}}"><button>Agregar Proyecto</button></a>
    </div>
    {{/each}}

    <div id="img">
        <img src="/img/logo/kolab numeral.png">
    </div>
</div>

<script src="/js/ocultarnavegacion.js"></script>