<link rel="stylesheet" href="/css/kolab/kolabEditar.css">
<div id="fondo">

</div>

<div id="contenedor">
    <div id="Titulo">
        <label>Editar Kolab</label>
    </div>
    {{#each kolab}}
    <form action="/Kolab/editar/{{idKolab}}" method="post">
    {{/each}}
        {{#each kolab}}
        <div id="Nombres">
            <label>Nombre</label>
            <input type="text" name="NombreKolab" id="NombreKolab" value="{{NombreKolab}}" checked>
        </div>

        <div id="Descripcion">
            <label> Descripción:</label>
            <textarea type="text" name="Descripcion" id="descripcion" required>{{Descripcion}}</textarea>
        </div>

        <div id="Mision">
            <label>Mision:</label>
            <textarea type="text" name="mision" id="mision" checked>{{Mision}}</textarea>
        </div>

        <div id="Vision">
            <label>Vision:</label>
            <textarea type="text" name="vision" id="vision" checked>{{Vision}}</textarea>
        </div>

        {{/each}}
        <div id="objetivos">            
            <label>Objetivos:</label>
        </div>
        
        <div id="listaObjetivos">
            {{#each detalle}}
            <textarea type="text" id="extras" name="objetivos" checked>{{objetivos}}</textarea>
            {{/each}}
        </div>

        <div id="Guardar">
            <button type="submit">Actualizar</button>
        </div>
    </form>
</div>

<script src="/js/ocultarnavegacion.js"></script>
