<link rel="stylesheet" href="/css/index.css" />

<div id="fondo">
    <!--<img src="/img/fondo/fondo.jpg">-->
</div>

<form action="/" method="get"></form>
<div id="contenido">
    {{#each Kolab}}
    <div id="tarjeta">
        <div id="Proyecto">
            <label>{{NombreKolab}}</label>
        </div>

        <div id="Descripcion">
            <label>Descripción:</label>
            <p>{{Descripcion}}</p>
        </div>

        <div id="Mision">
            <label>Misión:</label>
            <p>{{Mision}}</p>
        </div>

        <div id="Vision">
            <label>Visión:</label>
            <p>{{Vision}}</p>
        </div>
        {{/each}}

        <div id="Objetivo">
            <label>Objetivos:</label>
        </div>


        <div id="objetivos">
        {{#each Objetivos}}
            <ul>
                <li>{{objetivos}}</li>
            </ul>
        {{/each}}
        </div>
    </div>

    {{#each Kolab}}
    <div id="siguiente">
        <a href="/Kolab/Lista/{{idKolab}}"><button>Siguiente</button></a>
    </div>
    {{/each}}


    <div id="img">
        <img src="/img/logo/kolab numeral.png">
    </div>
</div>
