<LINK REL=StyleSheet HREF="/css/usuario/login.css" TYPE="text/css" MEDIA=screen>

<!-- Aquí comienza el parte Administrador -->
<div id="contenido1">
    <form action="/Login/{{user.idUsuarios}}" method="POST">
        <div id="fondo">
            <img src="/img/fondo/fondo.jpg" alt="Logo">
        </div>

        <div id="rol">
            {{#each rol}}
            <input type="text" name="rol" id="roles" value="{{RolIdRol}}" checked>
            {{/each}}
            <input type="text" name="nombreRol" id="nombreRol" checked>
        </div>

        <!-- Aquí comienza el primer formulario -->
        <div id="contenedor">
            <div id="img">
                <img src="/img/logo/kolab.png" alt="Logo">
            </div>

            <div id="login">
                Login
            </div>

            <div id="datos">
                {{#each datos}}
                <input type="text" id="Nombre" name="username" placeholder="Usuario:" value="{{username}}">
            </div>

            <div id="contraseñas">
                <input type="password" id="Contraseña" name="password" placeholder="Contraseña:">
                {{/each}}
            </div>

            <div id="actualizacion">
                {{#each datos}}
                <a href="/actualizacion/Datos/{{idUsuarios}}"><button type="button">Cambiar contraseña</button></a>
                {{/each}}
            </div>

            <div id="ojo">
                <button id="visto" type="button" onclick="boton.cambio()"><img src="/img/icons/abierto.png"></button>
                <button id="equis" type="button" onclick="boton.cambio2()"><img src="/img/icons/cerrado.png"></button>
            </div>

            <div id="ingresar">
                <button type="submit">Ingresar</button>
            </div>

            <div id="sesion">
                <a href="/Registro"><button type="button">Registro</button></a>
            </div>

        </div>

    </form>
</div>
<!-- Aquí termina el parte Administrador -->

<!-- Aquí comienza el parte doer -->
<div id="contenido2">
    <form action="/Login1/{{user.idUsuarios}}" method="post">
        <div id="contenedor2">
            <div id="img">
                <img src="/img/logo/kolab.png" alt="Logo">
            </div>

            <div id="login">
                Login
            </div>

            <div id="datos">
                {{#each datos}}
                <input type="text" id="Nombre" name="username" placeholder="Usuario:" value="{{username}}">
            </div>

            <div id="contraseñas">
                <input type="password" id="Contraseña" name="password" placeholder="Contraseña:">
                <a href="/actualizacion/Datos/{{idUsuarios}}">Cambiar contraseña</a>
                {{/each}}
            </div>

            <div id="ingresar">
                <button type="submit" >Ingresar</button>

            </div>

            <div id="sesion">
                <a href="/Registro"><button type="button">Registro</button></a>
            </div>
        </div>
    </form>
</div>
<!-- Aquí termina el parte Doer -->
<script src="/js/rol.js"></script>
<script src="/js/botones.js"></script>
<script src="/js/lottie.js"></script>
<script src="/js/script.js"></script>
