<LINK REL=StyleSheet HREF="/css/login/ingreso.css" TYPE="text/css" MEDIA=screen>
<div id="contenido1">
  <form action="/Login/{{user.idUsuarios}}" method="POST">
    <div id="imagen">
      <img src="/img/fondo.png">
    </div>
    <div id="rol">
      {{#each rol}}
      <input type="text" name="rol" id="roles" value="{{RolIdRol}}" checked>
      {{/each}}
      <input type="text" name="nombreRol" id="nombreRol" checked>
    </div>
    <div id="contenedor">
      <div id="login">
        Login
      </div>
      <div id="datos">
        {{#each datos}}
        <input type="text" id="Nombre" name="username" placeholder="Usuario:" value="{{username}}">
      </div>
      <div id="contraseñas">
        <input type="password" id="Contraseña" name="password" placeholder="Contraseña:">
        <a href="/actualizacion/Datos/{{idUsuarios}}">Cambiar contraseña</a>
        {{/each}}
      </div>
      <div>
        <button type="submit" id="boton">Ingresar</button>
      </div>
      <div id="sesion">
        <a href="/Registro"><button type="button">Registro</button></a>
      </div>
    </div>
  </form>
</div>
<div id="contenido2">
  <form action="/Login1/{{user.idUsuarios}}" method="post">
    <div id="contenedor">
      <div id="login">
        Login
      </div>
      <div id="datos">
        {{#each datos}}
        <input type="text" id="Nombre" name="username" placeholder="Usuario:" value="{{username}}">
      </div>
      <div id="contraseñas">
        <input type="password" id="Contraseña" name="password" placeholder="Contraseña:">
        <a href="/actualizacion/Datos/{{idUsuarios}}">Cambiar contraseña</a>
        {{/each}}
      </div>
      <div>
        <button type="submit" id="boton">Ingresar</button>
      </div>
      <div id="sesion">
        <a href="/Registro"><button type="button">Registro</button></a>
      </div>
    </div>
  </form>
</div>

<script src="/js/rol.js"></script>