<link rel="stylesheet" href="/css/comunidad/comunidadLista.css">
<div id="fondo"></div>
<div id="contenedor">
    <div id="Titulo">
        <label>Lista de Comunidades</label>
    </div>
    <form action="/comunidad/listaCompleta/{{user.idUsuarios}}" method="get"></form>

    <div id="contenedor-tarjetas">
        {{#each comunidad}}
        <div id="tarjeta">
            <div id="NombreComunidad">
                <label>{{NombreComunidad}}</label>
            </div>
            <div id="Descripcion">
                <p>{{DescripcionComunidad}}</p>
            </div>
            <div id="Detalle">
                <a href="/comunidad/lista/{{idComunidad}}"><button>Detalle</button></a>
            </div>
        </div>
        {{/each}}
    </div>
    <div id="Agregar">
        <a href="/comunidad/agregar/{{user.idUsuarios}}"><button>+</button></a>
    </div>

</div>