<link rel="stylesheet" href="/css/kolab/kolab.css">

<div id="fondo">
    <!--<img src="/img/fondo/fondo.jpg">-->
</div>

{{#each Kolab}}
<form action="/Kolab/Lista/{{idKolab}}" method="get"></form>
{{/each}}

<div id="contenido">

    <div id="proyectos">
        <div>
            <p>MICROSERVICIOS</p>
            <div class="row">
                {{#each proyectos}}
                <div id="nombreProyecto">
                    <button>{{NombreProyecto}}</button>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div id="Doers">
        <div>
            <p>DOERS</p>
            <div class="row">
                {{#each doers}}
                <div id="doers">
                    <button>{{NombreDoers}}</button>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div id="Comunidad">
        <div>
            <p>COMUNIDAD</p>
            <div class="row">
                {{#each comunidad}}
                <div id="comunidad">
                    <button>{{NombreComunidad}}</button>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div id="Capitalizacion">
        <div>
            <p>CAPITALIZACION</p>
            <div id="capitalizacion"></div>
        </div>
    </div>

    <div id="Kolab">
        {{#each Kolab}}
        <p>{{NombreKolab}}</p>
        {{/each}}
    </div>

</div>