<link rel="stylesheet" href="/css/kolab/kolab.css">

<div id="fondo">
    <!--<img src="/img/fondo/fondo.jpg">-->
</div>


{{#each Kolab}}
<form action="/Kolab/Lista/{{idKolab}}" method="get"></form>
{{/each}}

<div id="contenido">
    {{#each proyectos}}
    <div id="proyectos">
        <div>
            <p>MICROSERVICIOS</p>
            <div class="row">
                <div id="nombreProyecto">
                    <button>{{NombreProyecto}}</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    {{#each doers}}
    <div id="Doers">
        <div>
            <p>DOERS</p>
            <div class="row">
                <div id="doers">
                    <button>{{NombreDoers}}</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{#each comunidad}}
    <div id="Comunidad">
        <div>
            <p>COMUNIDAD</p>
            <div class="row">
                <div id="comunidad">
                    <button>{{NombreComunidad}}</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{#each capitalizacion}}
    <div id="Capitalizacion">
        <div>
            <p>CAPITALIZACION</p>
            <div id="capitalizacion">
                <button>{{nombreCapitalizador}}</button>
            </div>
        </div>
    </div>
    {{/each}}
    <div id="Kolab">
        {{#each Kolab}}
        <p>{{NombreKolab}}</p>
        {{/each}}
    </div>

</div>

<div id="organizacion">
    <p> La primera organiazcion digital del Ecuador</p>
    <div id="cuadro" onmousemove="oex.mostrar()" onmouseout="oex.ocultar()">OEX</div>
    
    <p id="oex"></p>
</div>


<script src="/js/oex.js"></script>