<link rel="stylesheet" href="/css/doers/doersEditar.css">
<div id="fondo"></div>
<div id="contenedor">
    <div id="Titulo">
        <label>Editar Doer</label>
    </div>
{{#each doers}}
<form action="/doers/editar/{{idDoers}}" method="post">
{{/each}}
    <div id="contenido">
        <div id="kolab">
            {{#each rol}}
            <input type="text" name="rol" id="rol" value="{{nombreRol}}" readonly>
            {{/each}}
        </div>
        {{#each doers}}
        <div id="Cedula">
            <label>Cedula:</label>
            <input type="text" name="Cedula" id="cedula" value="{{Cedula}}" checked>
        </div>
        <div id="Nombre">
            <label>Nombre Completo:</label>
            <input type="text" name="NombreDoers" id="nombre" value="{{NombreDoers}}" checked>
        </div>
        <div id="Edad">
            <label>Edad:</label>
            <input type="text" name="Edad" id="edad" value="{{Edad}}" checked>
        </div>
        <div id="Telefono">
            <label>Telefono:</label>
            <input type="text" name="Telefono" id="telefono" value="{{Telefono}}" checked>
        </div>
        <div id="DescripcionDoers">
            <label>Descripción:</label>
            <textarea name="DescripcionDoers" id="descripcion" maxlength="1500" aria-checked="true" checked>{{DescripcionDoers}}</textarea>
        </div>
        <div id="Guardar">
            <button type="submit">Guardar</button>
        </div>
        {{/each}}
    </div>
</form>
</div>

<script src="/js/ocultar.js"></script>