<link rel="stylesheet" href="">
<form action="/doers/Lista/{{user.idUsuarios}}" method="get"></form>
<div id="contenido">
    <div class="row">
        {{#each doers}}
        <div id="tarjeta">
            <div id="Nombres">
                <label>{{NombreDoers}}</label>
            </div>
            <div id="Edad">
                <p>{{Edad}}</p>
            </div>
            <div id="Celular">
                <p>{{Telefono}}</p>
            </div>
            <div id="detalle">
                <a href="/doers/detalle/{{idDoers}}"><button>Detalle</button></a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div id="agregar">
    {{#each proyecto}}
    <a href="/doers/agregar/{{idProyecto}}"><button>+</button></a>
    {{/each}}
</div>