<link rel="stylesheet" href="/css/doers/doersListaCompleta.css">
<div id="fondo"></div>
<div id="contenedor">
    <div id="Titulo">
        <label>Lista de Doers</label>
    </div>
    <form action="/doers/listaCompleta/{{user.idUsuarios}}" method="get"></form>

    <div id="contenedor-tarjetas">
        {{#each doers}}
        <div id="tarjeta">
            <div id="Nombre">
                <label>Nombre: {{NombreDoers}}</label>
            </div>
            <div id="Edad">
                <p>Edad: {{Edad}} Años</p>
            </div>
            <div id="Celular">
                <p>Teléfono: {{Telefono}}</p>
            </div>
            <div id="conetenedor-botones">
                <div id="detalle">
                    <a href="/doers/detalle/{{idDoers}}"><button>Detalle</button></a>
                </div>
                <div id="Eliminar">
                    <a href="/doers/Eliminar/{{idDoers}}"><button>Eliminar</button></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>


    <div id="agregar">
        <a href="/doers/agregar/{{user.idUsuarios}}"><button>+</button></a>
    </div>
</div>